<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Short</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>

    <h1>Full Url- <%= shortUrl.full %> </h1>

    <h1 id="copy"><a href="<%= shortUrl.short %>"><%= "https://"+data + "/" + shortUrl.short%></a></h1>
    <br>
    <br>
    <br>
    <center>
      <button class="btn btn-success" onclick="copyText()">Copy</button>
      <br />
    </center>
  
    <script>
      function copyText() {
        var copyText = document.getElementById("copy");
        /* Select text area by id*/
        var Text = document.getElementById("copy");
        /* Select the text inside text area. */
        /* Copy selected text into clipboard */
        navigator.clipboard.writeText(copyText.innerText);
      }
    </script>
    <br>
    <br>
    <button class="btn btn-warning" onclick="window.location.href = '/'">Go Back</button>
    </center>
</body>
</html>